{{template "common/header.html" .}}
<style>
</style>
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：<span>欢迎来到轻博客</span></p>
            </h4>
            {{range .homeArticleVOs}}
                <div class="item">
                    <div class="item-box  layer-photos-demo1 layer-photos-demo">
                        <h3><a href="/detail">{{.Article.Title}}</a></h3>
                        <h5>
                            发布于：<span>{{date .Article.PublishTime  "Y-m-d H:i:s"}}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            作者：<a href="/user/{{.Article.User.Id}}"><span>{{ .Article.User.Username }}</span></a>
                            {{if .CanOperation}}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                提示：<span style="color: #00b7ee">这是您发布的文章，您可以选择对文章进行操作</span>
                            {{else}}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                欢迎：<span style="color: #00b7ee">您好！{{ $.user.Username }}</span>
                            {{end}}
                        </h5>
                        <p>
                            {{str2html .Article.Content}}
                        </p>
                        {{/*<img src="/static/images/item.png" alt="">*/}}
                    </div>
                    <div class="comment count">
                        {{if .CanOperation}}
                            <a style="width: 187px;" class=" " href="/Article/update/{{.Article.Id}}">编辑</a>
                        {{end}}
                        <a {{if .CanOperation}} style="width: 187px;" {{end}} href="/detail#comment">评论</a>
                        <a {{if .CanOperation}} style="width: 187px;" {{end}} class=" like" href="javascript:;">点赞</a>
                        {{if .CanOperation}}
                            <a style="width: 187px;" class=" " href="javascript:void(0);"
                               onclick="showDeleteArticleConfirm(this);" link="/Article/del/{{.Article.Id}}">删除</a>
                        {{end}}
                    </div>
                </div>
            {{else}}
                <h4 class="item-title">
                    <p><i class="layui-icon layui-icon-404">&#xe61c;</i><span>服务器跑路了，暂时没有文章，如果您是管理员的话，请添加文章</span></p>
                </h4>
            {{end}}
        </div>
        <div class="item-btn">
            <button class="layui-btn layui-btn-normal">下一页</button>
        </div>
    </div>
</div>
</div>
{{ template "common/footer.html"}}
<script type="text/javascript" src="/static/js/common.js"></script>
<script>
    //显示右下角的top块
    showTopBlock()
</script>