<div class="item">
    <div class="item-box  layer-photos-demo1 layer-photos-demo">
        <h3><a href="/detail">{{.Title}}</a></h3>
        <hr/>
        <h5>
            创建时间：<span>{{date .PublishTime "Y-m-d H:i:s"}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            更新时间：<span>{{date .UpdateTime "Y-m-d H:i:s"}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            所属栏目：
            <a href="/category/show/{{.Category.Id}}">
                <span >
                    {{.Category.Title}}
                </span>
            </a>
        </h5>
        <hr/>
        <p>
            {{.Content}}
        </p>
        {{/*<img src="/static/images/item.png" alt="">*/}}
    </div>
    <div class="comment count">
        <a href="/article/update/{{.Id}}">编辑</a>
        <a href="javascript:void(0);" onclick="showDeleteConfirm(this);" link="/article/del/{{.Id}}">删除</a>
    </div>
</div>
