{{template "common/header.html" .}}
<div class="container-wrap">
    <div class="container container-message container-details">
        <div class="contar-wrap">
           {{template "article/article_detail_tpl.html" .artVO}}
           {{/*评论部分*/}}
            <a name="comment"> </a>
            <div class="comt layui-clear">
                <a href="javascript:;" class="pull-left">评论</a>
                <a href="/comment?artId={{.artVO.Article.Id}}" class="pull-right">写评论</a>
            </div>
            <div id="LAY-msg-box">
                {{range .comments}}
                    {{template   "comment/comment_list_tpl.html" .}}
                {{else}}
                    <div class="info-item">
                        <div class="info-text">
                            <p class="info-intr" style="font-size: 16px;">
                                该文章暂时没有评论
                            </p>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{ template "common/footer.html"}}
<script type="text/javascript" src="/static/js/common.js"></script>
<script>
    layui.use(["util"], function () { //独立版的layer无需执行这一句
        var util=layui.util
        //执行
        util.fixbar({
        {{if .artVO.CanOperation}}
            bar1: "&#xe642;",//编辑
            bar2:"&#xe640;",//删除
        {{end}}
            top:true,
            css:{right: 250, bottom: 100}
            ,click: function(type){
                console.log(type);
                if(type === 'bar1'){
                    toEditArticle()
                }
                if(type === 'bar2'){
                    layer.confirm('是否删除当前文章?',{icon: 3, title: '提示'},function (index) {
                        link="/article/del/{{.artVO.Article.Id}}"
                        deleteArticle("",link)
                        layer.close(index)
                    },function (index) {
                        layer.close(index)
                    })
                }
            }
        });
    });
</script>