{{template "common/header.html" .}}
<div class="container-wrap">
    <div class="container">
        <div class="contar-wrap">
            <h4 class="item-title">
                <p><i class="layui-icon layui-icon-speaker"></i>公告：<span>博客文章列表</span></p>
            </h4>
            {{if .all}}
                {{range .articles}}
                    {{template "article/article_content.html"  .}}
                {{end}}
                <!--添加分页功能-->
                <div class="item-box">
                    <div class="item-btn">
                        <button  onclick="getPage(this);" name="previous" class="layui-btn layui-btn-normal {{if le .pageNow 1}}layui-btn-disabled{{end}}" {{if le .pageNow 1}}disabled{{end}} >上一页</button>
                        <button onclick="getPage(this);" name="next" class="layui-btn layui-btn-normal {{if ge .pageNow .pageMax }}layui-btn-disabled{{end}}" {{if ge .pageNow .pageMax }}disabled{{end}}>下一页</button>
                    </div>
                </div>
            {{else}}
                {{template "article/article_content.html" .article .user}}
            {{end}}
        </div>
    </div>
</div>
{{ template "common/footer.html"}}
<script>
    var layer,$;
    layui.use(['layer', "jquery","util"], function () { //独立版的layer无需执行这一句
        layer = layui.layer; //独立版的layer无需执行这一句
        $= layui.jquery;
        var util=layui.util
        //执行
        util.fixbar({
        {{if not .all}}
            bar1: "&#xe642;",//编辑
            bar2:"&#xe640;",//删除
        {{end}}
            top:true
            ,click: function(type){
                console.log(type);
                if(type === 'bar1'){
                    layer.confirm('是否返回编辑页面编辑当前文章?',{icon: 3, title: '提示'},function (index) {
                        window.location.href="/article/update/{{.article.Id}}"
                        layer.close(index)
                    },function (index) {
                        layer.close(index)
                    })
                }
                if(type === 'bar2'){
                    layer.confirm('是否删除当前文章?',{icon: 3, title: '提示'},function (index) {
                        link="/article/del/{{.article.Id}}"
                        deleteArticle("",link)
                        layer.close(index)
                    },function (index) {
                        layer.close(index)
                    })
                }
            }
        });
    });

    function getData(obj) {
        layer.alert("change"+obj)
    }

    function showDeleteArticleConfirm(obj) {
        // console.log(obj.getAttribute("href"))
        layer.confirm('确定要删除该文章吗?',
            {icon: 3, title: '提示'},
            function (index) {
                //do something
                deleteArticle(obj,"");
                layer.close(index);
            }, function (index) {
                layer.close(index)
            }
        );
        //eg2
    }
    function deleteArticle(obj,link) {
        // window.location.href=obj.getAttribute("link")
        if(link===""){
            link=obj.getAttribute("link")
        }
        $.get(
            // obj.getAttribute("link")
            link
        ).success(function (data) {
            console.log(data)
            layer.alert(data["msg"])
            setTimeout(function () {
                window.location.href=data["action"]
            },1000)
        }).error(function (data) {
            layer.alert(data["msg"])
        })
    }

    function getPage(obj) {
        // layer.alert()
        var select=obj.getAttribute("name")
        var pageNow={{.pageNow}}
        if (select==="previous"){
            pageNow--
        }else if(select==="next"){
            pageNow++
        }
        window.location.href="/article/show/?pageSize={{.pageSize}}&pageNow="+pageNow
    }
</script>